<!DOCTYPE html>
<html>
<head>
	<title>Add A Product</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% if(error){ %>
		<%- include('error'); %>
	<% } %>
	<h3>Log In</h3>
	<form method="post">
	  	<label for="userName">User Name:</label>
	  	<input type="text" name="User Name" id="userName"><br>
	  	<label for="password">Password:</label>
	  	<input type="password" name="Password" id="password">
	  	<button type="submit">Log In</button>
	</form>
	<a href="/home">Home</a>
</body>
</html>