<!DOCTYPE html>
<html>
<head>
	<title>Shopping</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% if(error){ %>
		<%- include('existingSession'); %>
	<% } %>
	<% if(notLogged){ %>
		<%- include('not_logged'); %>
	<% } %>
	<h3>Shopping App</h3>
	<a href="/new_user">Create An Account</a>
	<a href="/product_catalog">Product Catalog</a>
	<a href="/register_company">Register Your Company With Us</a>
	<a href="/add_a_product">Add A New Product</a>
	<a href="/login">Login</a>
	<a href="/user_account">Profile</a>
	<a href="/user_account/logout">Logout</a>
</body>
</html>