<!DOCTYPE html>
<html>
<head>
	<title>Add A Product</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% if(error){ %>
		<%- include('error'); %>
	<% } %>
	<h3>Add A Product</h3>
	<form method="post">
	  	<label for="productName">Enter The Product Name:</label>
	  	<input type="text" name="Product Name" id="productName"><br>
	  	<label for="companyFK">Enter Your Company's Unique ID:</label>
	  	<input type="text" name="Company ID" id="companyFK">
	  	<label for="description">Enter Your Product Description:</label>
	  	<input type="text" name="Product Description" id="description">
	  	<label for="price">Enter The Price:</label>
	  	<input type="number" step="0.01" name="Price" id="price">
	  	<button type="submit">Save Changes</button>
	</form>
	<a href="/home">Home</a>
</body>
</html>