<!DOCTYPE html>
<html>
<head>
	<title>Your Account</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% for(let item in user){ %>
		<p><%=item%> : <%=user[item]%></p>
	<%}%>
	<%- include('cart', {cartData})%>
	<a href="/edit_profile">Edit Profile</a>
	<a href="/home">Home</a>
</body>
</html>